.login {
  widows: 100%;
  height: 100vh;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 12%,
    rgba(253, 29, 29, 1) 37%,
    rgba(252, 176, 69, 1) 98%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginWrapper {
  width: 70%;
  height: 70%;
  display: flex;
}

.loginLeft,
.loginRight {
  flex: 1;
  display: flex;
  empty-cells: show;
  flex-direction: column;
  justify-content: center;
}

.loginTitle {
  font-family: "M PLUS Rounded 1c", sans-serif;

  font-size: 80px;
  font-weight: bold;
  color: rgb(26, 19, 19);
  margin-bottom: 10px;
}

.loginDesc {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 30px;
}

.loginBox {
  height: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loginInput {
  height: 42px;
  font-size: 38px;
  padding-left: 16px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0);
  outline: none;
}

.loginInput :focus {
  outline: none;
}

.loginButton {
  font-family: "M PLUS Rounded 1c", sans-serif;
  height: 50px;
  font-size: 30px;
  border-radius: 15px;
  --clr-font-main: hsla(0 0% 20% / 100);
  --btn-bg-1: rgb(253, 29, 29, 1);
  --btn-bg-2: rgb(252, 176, 69);
  --btn-bg-color: rgb(26, 19, 19);
  --radii: 0.5em;
  cursor: pointer;
  padding: -0.9em 1.4em;
  min-height: 44px;
  transition: 0.8s;
  background-size: 280% auto;
  background-image: linear-gradient(
    325deg,
    var(--btn-bg-2) 0%,
    var(--btn-bg-1) 55%,
    var(--btn-bg-2) 90%
  );
  border: none;
  border-radius: var(--radii);
  color: var(--btn-bg-color);
  box-shadow: 0px 0px 20px rgba(218, 70, 255, 0.5),
    0px 5px 5px -1px rgba(93, 0, 129, 0.25),
    inset 4px 4px 8px rgba(224, 161, 253, 0.5),
    inset -4px -4px 8px rgba(154, 19, 216, 0.35);
}

.loginButton:hover {
  background-position: right top;
}

.loginButton:is(:focus, :focus-within, :active) {
  outline: none;
  box-shadow: 0 0 0 3px var(--btn-bg-color), 0 0 0 6px var(--btn-bg-2);
}

.loginButton:focus {
  box-shadow: none;
}

@media (prefers-reduced-motion: reduce) {
  .btn-donate {
    transition: linear;
  }
}

.loginForgot {
  text-align: center;
  font-size: 20px;
}

.loginRegisterButton {
  font-family: "M PLUS Rounded 1c", sans-serif;
  width: 220px;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 20px;
  margin-right: 20px;
  background-color: #242323;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
}

.loginRegisterButton:hover {
  background-image: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 100%
  );
  animation: slidernbw 5s linear infinite;
  color: #000;
}

@keyframes slidernbw {
  to {
    background-position: 20vw;
  }
}

.loginMsg {
  font-family: "M PLUS Rounded 1c", sans-serif;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1px;
}

.human {
  width: 800px;
  height: 800px;
  position: absolute;
}
